body {
	font-family: 'PT Sans', sans-serif;
	color: dimgray;
}

a {
	color: pink;
}

.navbar-default {
	background-color: #D11149;
	border-color: #D11149;
	border-radius: 0px;
}

.navbar-default .navbar-brand {
	color:white;
	font-weight: bold;
}

.navbar-default .navbar-nav li a {
	color:white;
}
.navbar-default .navbar-nav li a:hover {
    color: indigo;
}
.container {
	width: 80%;
			margin-top: 90px;

}

 .jumbotron {
	background-image: url("http://www.enviroengineers.com.au/img/banner2.jpg");
	background-size: cover;
	color: white;
	text-align: center;
}
@media only screen and (max-width: 480px) {
	.container {
		width: 100%;
	}
}

h2 {
	color: #D11149;
}

h3 {
	color: #D11149;	
}
h4 {
	font-size: 20px;
	color: indigo;
}
h5 {
	font-weight: bold;
	font-size: 16px;
}
h6 {
	font-weight: bold;
	font-size: 14px;


}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

#linkedin {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 150px;
}

#ntu {
	margin-top: 75px;
}
.rounded {
	border-radius: 10px;
}
